#stepsearch_box {color: #545454;}
#stepsearch_box p {padding-bottom: 5px;text-align: center;}
#stepsearch_box .block_content {padding: 5px 20px; /* background:#757a80 url('../img/bg.jpg') top right no-repeat; */}
#stepsearch_box .toggletips {margin-top: 10px; display: block;font-weight: bold; color: white;}
#stepsearch_box .step_search_btn {margin-top: 10px; display: block;font-weight: bold; /*color: white;*/}
#stepsearch_box .toggleqq {text-transform: uppercase;margin-top: 10px;}
#stepsearch_box .stepsearch_tip {color: #990000;text-align: left;}

#stepsearch_box .stepsearch_step label{
	font-weight: bold;
	font-size: 12px;
	margin: 10px 0 5px 0;
	display: block;
}
#stepsearch_box .stepsearch_step select {width: 100%; font-size: 13px;}
