<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tmbannerblock</name>
	<displayName>TM Banner block</displayName>
	<version>1.0</version>
	<description>Block of banners at the homepage</description>
	<author></author>
	<tab>front_office_features</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>